@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(229deg, 6%, 66%);
}

.container {
  padding: 10% 5%;
  margin: auto;
}

header {
  text-align: center;
  margin: 20% 0;
}
@media (min-width: 991px) {
  header {
    margin: 5% 0;
  }
}
header h1 {
  font-weight: 200;
}
header p:first-of-type {
  font-weight: 600;
  font-size: 1.75rem;
}
@media (min-width: 991px) {
  header p:first-of-type {
    font-size: 2.5rem;
  }
}
header p:last-child {
  font-size: 1.1rem;
}
@media (min-width: 991px) {
  header p:last-child {
    width: 50%;
    margin: auto;
  }
}

main .cyan {
  border: none;
  border-top: 5px solid hsl(180deg, 62%, 55%);
}
main .red {
  border: none;
  border-top: 5px solid hsl(0deg, 78%, 62%);
}
main .orange {
  border: none;
  border-top: 5px solid hsl(34deg, 97%, 64%);
}
main .blue {
  border: none;
  border-top: 5px solid hsl(212deg, 86%, 64%);
}

.card {
  margin-bottom: 7%;
  --bs-card-spacer-x: 2rem;
  box-shadow: 0 5px 15px hsl(229deg, 6%, 66%);
}
.card .card-body .card-title {
  font-weight: 400;
}

@media (min-width: 991px) {
  .cyan {
    margin-top: 108.5px;
  }
}

@media (min-width: 991px) {
  .blue {
    margin-top: 108.5px;
  }
}