body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  background-color: hsl(210deg, 46%, 95%);
}

.row .container {
  margin: 0;
}

h5.card-title {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.card {
  border: none;
}
.card-name {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
.card-name .card-img {
  width: 70px;
}
.card-name .card-name__name {
  display: inline;
}
.card-name p {
  opacity: 0.5;
}

.row + .row {
  margin-top: 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2em;
}

.card-text {
  opacity: 0.7;
  padding-top: 1em;
}

#daniel {
  background: url(../../images/bg-pattern-quotation.svg) no-repeat 75% 0px, hsl(263deg, 55%, 52%);
  color: hsl(0deg, 0%, 100%);
}
#daniel img {
  width: 65%;
  border-color: #a674f1;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

#jonathan {
  background: hsl(217deg, 19%, 35%);
  color: hsl(0deg, 0%, 100%);
  padding: 0;
}
#jonathan img {
  width: 65%;
  border-color: #48556a;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

#jeanette img {
  width: 65%;
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

#patrick {
  background: hsl(219deg, 29%, 14%);
  color: hsl(0deg, 0%, 100%);
}
#patrick img {
  width: 65%;
  border-color: rgba(117, 65, 200, 0.5);
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

#kira {
  background: hsl(0deg, 0%, 100%);
  color: hsl(217deg, 19%, 35%);
  padding-right: 0;
  padding-left: 0.5rem;
}
#kira img {
  width: 65%;
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}
@media (max-width: 991px) {
  #kira {
    margin-top: 1.5rem;
  }
}